
    <div class="fields">
        <label for="">Categoria</label>
        <select name="categorie_id" id="">
            {% for category in categories %}
            <option value="{{category.id}}" {% if product.categorie_id == category.id %}selected{% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>
    </div>

<div class="fields">
    <label for="">Você trabalha com cartão?</label>
    <div class="options">
        <span>
            <input type="radio" value="1" name="pagament" {% if product.pagament == '1'%}checked {%endif%}>Sim
        </span>
        <span>
           <input type="radio" value="0" name="pagament" {%if product.pagament == '0'%} checked {%endif%}>Não
        </span>
    </div>
</div>

{# <div class="fields">
    <div>Seu número de celular</div>
    <div>
        <input type="text" name="contact" placeholder="(83) 9 95436578">
    </div>
</div> #}

<div class="state">
    <div class="fields">
        <label for="">Estado</label>
        <input class="estado" type="text" name="cep" placeholder="Selecione um estado">
    </div>

    <div class="fields">
        <label for="">Cidade</label>
        <input class="adress_city" type="text" name="adress" placeholder="Selecione uma cidade">
    </div>
</div>

<div class="fields">
    <div>Digite seu CPF</div>
    <input type="text" name="cpf" placeholder="457.786.478-78">
</div>

<div class="fields">
    <div>Descrição</div>
    <textarea name="description">{{product.description}}</textarea>
</div>

{# campo de foto #}

{% if product.pagament%}
<div class="fields">
    <div>Anúncio disponível?</div>
    <div>
            <span>
                <input type="radio" name="status" id="">Sim
            </span>
            <span>
                <input type="radio" name="status" id="">Não, desejo desativar o anúncio
            </span>
    </div>
</div>
{% endif %}

