<div class="section">
<footer>
    <div class="informations-footer">
        <div class="location">
            <h4>Localização</h4>
            <p>Av. Almirante Barroso, 1043, Cruzeiro - 58417-140 - Campina Grande, PB</p>
        </div>
        <div class="social">
            <img src="https://image.flaticon.com/icons/svg/1384/1384055.svg" style="width: 50px" alt="">
            <img src="https://image.flaticon.com/icons/svg/2111/2111463.svg" style="width: 50px" alt="">
            <img src="https://image.flaticon.com/icons/svg/1409/1409945.svg" style="width: 50px" alt="">
        </div>
    </div>

    <div class="terms">
        <ul>
            <li>Termos de uso</li>
            <li>Política de privacidade</li>
            <li>Ajuda e contato</li>
            <li>Dicas de segurança</li>
        </ul>
    </div>
</footer>
<div class="copyright">
    Copyright © todos os direitos reservados a
</div>
</div>

